@media only screen and (min-width: 1280px){
  .input-container{
    width: 30%;
    margin: 4% auto 4% auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1279px){
  .input-container{
    width: 50%;
    margin: 7% auto 4% auto;
  }
}

@media only screen and (max-width: 600px){
  .input-container{
    width: 90%;
    margin: 15% auto 4% auto;
  }
}
